/* =========================================================
   FONT IMPORTS
========================================================= */

/* Main website font */
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../../assets/Fonts/HelveticaNowDisplay.ttf') format('truetype');
}

/* Display font used for titles and large numbers */
@font-face {
    font-family: 'PP Monument Extended';
    src: url('../../../assets/Fonts/PPMonumentExtended.otf') format('opentype');
    font-weight: 900;

}
