/* =========================================================
   GLOBAL RESET & RENDERING ADJUSTMENTS
========================================================= */

/* Removes default margins and improves layout consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Font smoothing (Chrome, Safari, Edge) */
    -webkit-font-smoothing: antialiased;

    /* Font smoothing on macOS / Firefox */
    -moz-osx-font-smoothing: grayscale;
}

/* Base page structure */
html, body {
    width: 10vw;
    height: 900vh;
    background-color: #000;
    color: var(--principal-color);
    font-family: var(--principal-font);
}

/* Default adjustment for responsive images */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Default section structure */
section {
    position: relative;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}

