/* =========================================================
   RESET GLOBAL & AJUSTES DE RENDERIZAÇÃO
========================================================= */

/* Remove margens padrões e melhora consistência do layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Suavização de fontes (Chrome, Safari, Edge) */
    -webkit-font-smoothing: antialiased;

    /* Suavização de fontes no macOS / Firefox */
    -moz-osx-font-smoothing: grayscale;
}

/* Estrutura base da página */
html, body {
    width: 10vw;
    height: 900vh;
    background-color: #000;
    color: #fff;
    font-family: 'Helvetica Now Display';
}

/* Ajuste padrão para imagens responsivas */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estrutura padrão das seções */
section {
    position: relative;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}
