/* =========================================================
   MAIN
========================================================= */

/* BASE */
@import './base/fonts.css';
@import './base/variables.css';
@import './base/reset.css';

/* LAYOUT */
@import './layout/header.css';

/* COMPONENTS */
@import './components/button.css';
@import './components/animation.css';
@import './components/cards.css';
@import './components/counter.css';

/* SECTIONS */
@import './sections/intro.css';
@import './sections/outro.css';

