/* =========================================================
   BUTTON
========================================================= */

/* Base button style */
button {
    border: none;
    outline: none;
    font-weight: 500;
    color: #000;
    padding: 0.75em 1em;
    background-color: #fff;
    border-radius: 0.25em;
    cursor: pointer;
}

/* Hover effect */
button:hover  {
    filter: brightness(93%);
}

/* Click feedback */
button:active  {
    filter: brightness(100%);
}
