/* =========================================================
   CLASS COUNTER
========================================================= */

/* Counter container */
.class-counter {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 2em;
}

/* Title and numbers mask */
.counter-title,
.count {
    position: relative;
    width: 1200px;
    height: 150px;
    overflow: hidden;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.class-counter h1.classm {
    font-weight: 900;
    font-style: italic;
}

/* Fine adjustment of number position */
.count {
    top: -10px;
}

/* Inner container that animates vertically */
.count-container {
    position: relative;
    transform: translateY(150px);
    will-change: transform;
    left: 17%;
}

/* Large number style */
.class-counter h1 {
    width: 100%;
    color: --principal-color;
    text-transform: uppercase;
    font-family: var(--secundaria-font);
    font-size: 150px;
    line-height: 1;
    letter-spacing: -0.04em;

    will-change: transform;
}
