/* =========================================================
   OUTRO SECTION (ANIMATED TEXT)
========================================================= */

/* Animated text container */
.outro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
    min-height: 100vh;

    /* Subtle background gradient */
    background: var(--outro-gradient);
    background-size: 200% 200%;
}

/* Main text */
.outro p {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    color: #555;
    font-size: 52px;
    font-weight: 400;
    line-height: 1.125;
}
