/* =========================================================
   NAVBAR / HEADER
========================================================= */

/* Header */
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

/* Text logo */
p#logo {
    text-transform: uppercase;
    font-family: var(--secundaria-font);
}
